.App.light-theme {
  // flex: 1;
  height: 100%;
  background-color: azure
  span {
    color:midnightblue
  }

  .my-container {
    padding: 1em 3em;
  }

  .my-card {
    padding: 1em 1em;
    // border-radius: 0.2em;
    margin-bottom: 1.2em;
    // border: 1em solid white; 
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 8px;

  }
  // $2a303c
  .custom-btn {
    background-color: #212630 !important;
    border-color: #212630 !important;
  }
  .custom-btn:hover {
    background-color: #212630 !important;
    border-color: #212630 !important;
  }

  .experience {
    display: grid;
    place-items: center; 
  }

  .cert {
    display: grid;
    // place-items: center; 
  }

  .main-info {
    // width: 100vw;        /* full viewport width */
    height: 100vh;       /* full viewport height */
    justify-content: center;
    align-items: center;
    align-content: center;
    // background-color: #212630 !important;
    background-color: transparent 
  }

  .whitet {
    color: white !important;
  }

  .card-title {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: rgb(16, 15, 15);
  }

  .card-title2 {
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: 1.5em;
    color: rgb(16, 15, 15);
  }

  .cv {
    color: rgb(16, 15, 15);
  }

  .cv.cv::hover {
    color: blue;
  }

  .title {
    font-size: 0.9em;
    color: rgb(16, 15, 15);
    line-height: 1.5em !important;
  }

  .theme-button {
    top: 1em;
    left: 1.8em;
    width: 3em;
    height: 3em;
    margin-top: 1em;
    align-self: center;
    position: absolute;
    align-items: center;
    padding-top: 0.5em;
    border-radius: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #212630;
    box-shadow: rgba(43, 46, 49, 0.5) 0px 4px 8px;



    position: fixed;
    top: 20px;
    right: 20px; /* or wherever you want it */
    background: rgba(255, 255, 255, 0.1); /* optional styling */
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    z-index: 2000;
  }

  .project-holder {
    flex: 1;
    // margin: 2em 2em;
    // padding: 1em 1em;
    // align-self: center !important;
    // align-items: center !important;
    // align-content: center !important;
    // justify-content: center !important;
  }

  .selected-project {
    // border-radius: 4px;
    // box-shadow: rgba(212, 163, 236, 0.5) 0px 4px 8px;
    // border-radius: 0.4em;
    // box-shadow: rgba(146, 146, 146, 0.2) 0px 7px 20px 0px;
  }

  .modal {
    // top: 0px;
    // left: 0px;
    // right: 0px;
    // bottom: 0px;
    // width: 300px;
    // height: 300px;
    // // position: absolute;
    // align-self: center;
    // border-radius: 4px;
    // box-shadow: rgba(212, 163, 236, 0.5) 0px 4px 8px;

  }

  .company-holder {
    margin-right: 1em;
    padding-right: 2em;
    border-radius: 0.2em;
    margin-bottom: 2.5rem;
  }

  .text-small-gray {
    font-size: 0.8em  !important;
    margin-bottom: 0.5em !important;
    color:rgba(86, 93, 99, 0.8) !important;
  }

  .text-medium-gray {
    font-size: 0.9em  !important;
    margin-bottom: 0.5em !important;
    color:rgba(86, 93, 99, 0.8) !important;
  }

  .text-bigger {
    font-size: 1.2em  !important;
  }

  .text-bigger3 {
    font-size: 1.1em  !important;
  }


  .text-medium {
    font-size: 1em  !important;
  }
  

  .text-bigger2 {
    margin-left: 0.5em;
    font-size: 1.5em  !important;
  }


  .text-large {
    font-size: 2em  !important;
  }

  .mb0 {
    margin-bottom: 0.5em !important;
  }
  
  .mb2 {
    margin-bottom: 1em !important;
  }

  .center {
    flex: 1;
    display: block;
    align-self: center !important;
    align-items: center !important;
    justify-items: center !important;
    align-content: center !important;
    justify-content: center !important;
  }

  .project-logo {
    width: 5.5em;
    height: 5.5em;
    margin: auto;
    display: block;
    text-align:center;
    margin-bottom: 1em;
    border-radius: 1em;
    align-self: center;
    box-shadow: rgb(48, 52, 56, 0.3) 0px 4px 8px;
  }

  .gallery {
    width: 100%;
    height: undefined;
    margin-right: 1em;
    border-radius: 0.3em;
  }

  .line {
    flex: 1;
    width: 100%;
    // margin-top: 1em;
    margin-bottom: 1.5em;
    border-bottom: 0.01em solid rgba(208, 213, 219, 0.5);
  }
  
  .line2 {
    flex: 1;
    width: 100%;
    margin: 1em 0em;
    border-bottom: 0.01em solid rgba(149, 157, 165, 0.9);
  }

  .dot {
    left: 50%;
    right: 50%;
    width: 0.5em;
    height: 0.5em;
    z-index: 1000;
    align-self: center;
    position: absolute;
    margin-top: -0.25em;
    border-radius: 100%;
    background-color: rgb(212, 163, 236);
  }
}

.App.dark-theme {
  // flex: 1;
  height: 100%;
  background-color:#2a303c;
  span {
    color: #FFFFFF;
  }

  .my-container {
    padding: 1em 3em
  }

  .my-card {
    padding: 1em 1em;
    border-radius: 0.2em;
    margin-bottom: 1.2em;
    background-color: #212630;
    border: 1em solid #212630;
  }


  .custom-btn {
    background-color: #212630 !important;
    border-color: #212630 !important;
  }
  .custom-btn:hover {
    background-color: #212630 !important;
    border-color: #212630 !important;
  }
  

  .main-info {
    width: 100vw;        /* full viewport width */
    height: 100vh;       /* full viewport height */
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 10px #2a3;
    background-color: transparent 
  }

  .card-title {
    color: white;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .card-title2 {
    color: white;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .cv {
    color: white;
  }
  .cv::hover {
    color: blue;
  }


  .title {
    font-size: 0.9em;
    color: white;
    line-height: 1.5em !important;
  }

  .theme-button {
    top: 1em;
    left: 1.8em;
    width: 3em;
    height: 3em;
    margin-top: 1em;
    align-self: center;
    position: absolute;
    align-items: center;
    padding-top: 0.5em;
    border-radius: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: rgba(43, 46, 49, 0.5) 0px 4px 8px;


    position: fixed;
    top: 20px;
    right: 20px; /* or wherever you want it */
    background: rgba(255, 255, 255, 0.1); /* optional styling */
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    z-index: 2000;
  }


  .experience {
    display: grid;
    place-items: center; 
  }

  .cert {
    // display: grid;
    place-items: center; 
  }

  .project-holder {
    flex: 1;
    // margin: 0em 2em;
    // padding: 1em 1em;
    // align-self: center !important;
    // align-items: center !important;
    // align-content: center !important;
    // justify-content: center !important;
  }

  .selected-project {
    // border-radius: 0.5em;
    // box-shadow: rgba(146, 146, 146, 0.4) 0px 7px 20px 0px;
  }

  .company-holder {
    margin-right: 1em;
    padding-right: 2em;
    border-radius: 0.2em;
    margin-bottom: 2.5rem;
  }

  .text-small-gray {
    font-size: 0.8em !important;
    margin-bottom: 0.5em !important;
    color:rgba(203, 208, 213, 0.8) !important;
  }

  .text-medium-gray {
    font-size: 0.9em !important;
    margin-bottom: 0.5em !important;
    color:rgba(203, 208, 213, 0.8) !important;
  }

  .text-bigger {
    font-size: 1.2em  !important;
  }

  .text-medium {
    font-size: 1em  !important;
  }
  
  .text-bigger2 {
    margin-left: 0.5em;
    font-size: 1.5em  !important;
  }

  .text-large {
    font-size: 2em  !important;
  }

  .mb0 {
    margin-bottom: 0.5em !important;
  }
  
  .mb2 {
    margin-bottom: 1em !important;
  }

  .center {
    flex: 1;
    align-self: center !important;
    align-items: center !important;
    justify-items: center !important;
    align-content: center !important;
    justify-content: center !important;
  }

  .project-logo {
    width: 5.5em;
    height: 5.5em;
    margin: auto;
    display: block;
    text-align:center;
    margin-bottom: 1em;
    border-radius: 1em;
    align-self: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 8px;
  }


  .gallery {
    width: 23em;
    height: undefined;
    margin-right: 1em;
    border-radius: 0.3em;
  }

  .line {
    flex: 1;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 0.01em solid rgba(149, 157, 165, 0.2);
  }
  
  .line2 {
    flex: 1;
    width: 100%;
    margin: 1em 0em;
    border-bottom: 0.01em solid rgba(149, 157, 165, 0.2);
  }

  .dot {
    left: 50%;
    right: 50%;
    width: 0.5em;
    height: 0.5em;
    z-index: 1000;
    align-self: center;
    position: absolute;
    margin-top: -0.25em;
    border-radius: 100%;
    background-color: rgb(212, 163, 236);
  }
}


.profilePic-box {
  margin: 0 auto;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.profilePic {
  width: 11%;
  padding: 0.3em;
  height: null;
  display: block;
  margin: 0 auto;
  align-self: center;
  border-radius: 100%;
  margin-bottom: 1.5em;
  transition: transform .2s;
  // border: 0.3em solid rgb(212, 163, 236);
  border: 0.3em solid rgb(255, 175, 16);
}


.profilePic::hover {
  transform: scale(1.1);
  // border: 0.3em solid rgb(169, 103, 202);
  border: 0.3em solid rgb(255, 175, 16);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
}

p {
  line-height: 1em !important;
}

a {
  text-decoration: none !important;
}

.my-row {
  flex: 1 !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
}

.text-center {
  text-align: center;
}

.contact-title {
  margin-left: 1em;
}

.contact-value {
  margin-left: 0.5em;
}

.ml3 {
  margin-left: 1.3em !important;
}

.mr3 {
  margin-right: 1.3em !important;
}

.mt01 {
  margin-top: 0.8em !important;
}

.mt1 {
  margin-top: 1.3em !important;
}

.mt2 {
  margin-top: 1.5em !important;
}

.mb1 {
  margin-bottom: 1.3em !important;
}

.italic {
  font-style: italic !important;
}

@media only screen and (max-width: 900px) {
  .profilePic {
    width: 30%;
    padding: 0.4em;
    height: null;
    display: block;
    margin: 0 auto;
    align-self: center;
    border-radius: 100%;
    margin-bottom: 1.5em;
    // border: 0.3em solid rgb(212, 163, 236);
    border: 0.3em solid rgb(255, 175, 16);
  }

  .my-container {
    padding: 1em 2em !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
  }

  .company-holder {
    margin-right: 0em !important;
    padding-right: 0em !important;
    border-radius: 0.2em;
    margin-bottom: 2.5rem;
  }

  .line {
    width: 100% !important;
    margin-bottom: 0em !important;
    border-bottom: 0.01em solid rgba(154, 162, 172, 0.9);
  }

  .project-holder {
    margin: 0em 0em !important;
    padding: 1.5em 0.5em !important;
    margin-bottom: 0.5em !important;
    margin-top: 1.5em !important;
  }

  .theme-button {
    top: -0.5em !important;
    left: 0.7em !important;


  }
  .w50 {
    margin: 0 auto;
    max-width: 90% !important;
    align-self: center;
    text-align: justify;
  }
}

@media only screen and (min-width: 573px) {
  .dot {
    display: none;
  }
}

@media only screen and (min-width: 400px) {
  .w50 {
    margin: 0 auto;
    max-width: 50%;
    align-self: center;
  }
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.just-center {
  align-items: center;
  justify-content: center !important;
}

.my-row2 {
  flex: 1;
  display: flex;
  align-self: center;
  align-items:stretch;
  flex-direction: row !important;
  justify-content: center !important;
}

.tech-row {
  display: flex;
  flex-wrap: wrap; /* allows wrapping on smaller screens */
  gap: 0.5em;      /* space between items */
  align-items: center;
  margin-bottom: 1em;
}

.tech {
  border: 1px solid #0d6efd90; /* light border for dark theme */
  border-radius: 0.2em;
  padding: 0.3em 0.6em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  p {
    margin: 0;
    font-size: 0.8em;
    white-space: nowrap;
    color: 1px solid #0d6efd !important;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.techtitle {
  margin: 0;
  font-size: 0.75em !important;
  white-space: nowrap;
  color:  #0d6efd !important;
}

/* Optional: better contrast for light theme */
.App.light-theme .tech {
  // border: 1px solid rgba(0, 0, 0, 0.2);
  // background-color: rgba(0, 0, 0, 0.05);
  &:hover {
    transform: translateY(-2px);
    background-color:  #0d6efd20;
  }

  // p {
  //   margin: 0;
  //   font-size: 0.8em;
  //   white-space: nowrap;
  //   color: #0d6efd !important;
  // }

  &:hover {
    // background-color: rgba(255, 255, 255, 0.15);
    transform: translateY(-2px);
  }

  // .techtitle {
  //   margin: 0;
  //   font-size: 0.8em;
  //   white-space: nowrap;
  //   color: 1px solid #0d6efd !important;
  // }

}

.text-end {
  text-align: end;
}

/* Optional: better contrast for light theme */
.App.dark-theme .tech {
  
  
  border: 1px solid #5da6ff70; /* light border for dark theme */
  p {
    margin: 0;
    font-size: 0.75em;
    white-space: nowrap;
    // color: #FFF !important;
    // color: #4c93ff !important;
    color: #65b2ff !important;
  }

}